html{
    scroll-behavior: smooth;
    background-image: url(images/fondglitch.jpg);
    background-position: center;
    background-size:cover;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    width: 100vw;
    height: 100vh;
}
.lien-reseaux{
    position: absolute;
    top: 6400px;
    left: 0px;
    display: flex;
    background-color: #1b1b1bc7;
    width: 100%;
    padding: 80px;
    flex-direction: row;
    align-items: center;
}
.icone-mail{
    position: absolute;
    left: 800px;
    transition: 0.5s;
}
.icone-linkedin{
    position: absolute;
    top: 70px;
    left: 1000px;
    transition: 0.5s;
}
.icone-mail:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.icone-linkedin:hover{
    opacity: 0.5;
    transition: 0.5s;
}
footer p{ 
    display: flex;
    position: absolute;
    top: 6650px;
    left: 850px;
    color: white;
}
footer h3{
    color: white;
    font-size: 2.0em;
    position: absolute;
    top: 6410px;
    left: 850px;
}
.avatar-accueil:hover{
    opacity: 0.5;
    transition: 0.5s;
}
body{
    font-family: 'Montserrat', sans-serif;
   
}

.navbar{ 
    align-self: baseline;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 10px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.083);
    backdrop-filter: blur(4px);
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a:hover{
    color: royalblue;
    transition: 0.4s;
}

.navbar a{
    font-size: 2.0em;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
}
.navbar .avatar-accueil{
    margin-left: 30px;
    transition: 0.5s;
}
.navbar .liens-nav ul{
    display: flex;
}
.navbar .liens-nav ul li{
    display: flex;
    margin: 0 20px;
}
 .menu-hamburger{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40px;
}
.mobile-menu{
    margin-left: 0;
}
.contenu-texte{
    position:absolute;
    top: 500px;
    left: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 80px;
}
.contenu-texte h1{
    font-size: 2.0em;
}
.contenu-texte h3{
    position: absolute;
    top: -250px;
    left: 0;
}
.contenu-texte p{
    font-size: 1.2em;
    margin-top: 50px;
}
.icones-compétences{
    position: absolute;    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    top: 1300px;
    left: 120px;
}
.icone-photoshop{
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 11%;
    height: 100px;
    padding: 20px;
   
}
.icone-camera{
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 10%;
    height: 100px;
    padding: 20px;
}
.icone-html-css{
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 13%;
    height: 100px;
    padding: 20px;
    
}

.icone-javascript{
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 10%;
    height: 100px;
    padding: 20px;
    }
progress{
    display: flex;
    margin-left: 10px;
    align-items: center;
    width: 50%;
}
.grid-photo-portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    gap: 20px;
    padding: 200px;
   
}
.grid-photo-portfolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projet-portfolio{
    background-color: #1b1b1bc7;
    position: absolute;
    width: 100%;
    top: 2265px;
    
}
.projet-portfolio h1{
    position: absolute;
    top: -230px;
    text-align: center;
    color: royalblue;
    font-size: 2.0em;
    font-family: 'Montserrat', sans-serif;
}
.lien-conteneur-photo {
    position: relative;
    transition: 0.5s;
  }
  
  .lien-conteneur-photo:hover .photo-hover {
  display: flex;
  }
  .lien-conteneur-photo:hover{
    padding: 50px;
    transition: 0.5s;
  }
  .contenu-cv{
    position: relative;
    top: 2700px;
    left: 0px;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    
  
  }
  .personalité{
    display: flex;
    padding: 60px;
    align-items: center;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 700px;
    width: 20%;
    background-color: white;
    
     }
     .contenu-cv ul{
        margin-left: 50px;
        text-align: justify;
     }
     .contenu-cv h1{
        position: absolute;
        top: -300px;
     }
     .contenu-cv h2{
        font-weight: 600;
     }
     em{
        color: royalblue;
        font-style: normal;
     }
    .langues{
      display: flex;
    padding: 70px;
    padding-right: 100px;
    align-items: center;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 700px;
    width: 20%;
    margin-bottom: 200px;
    background-color: white;
    gap: 20px;
    }
  
    .experience-parcours{
    display: flex;
    padding: 60px;
    align-items:center;
    margin-bottom: 200px;
    margin-left: 740px;
    width: 50%;
    background-color: white;
    border-radius: 20px;
     }
    .experience-professionnelle{
    display: flex;
    padding: 60px;
    align-items: center;
    text-align: justify;
    width: 45%;
    margin-left: 80px;
    margin-bottom: 200px;
    background-color: white;
    border-radius: 20px;

    }
    .loisirs{
      display: flex;
      gap: 20px;
      padding: 60px;
      align-items: center;
      width: 45%;
      margin-bottom: 200px;
      margin-left: 450px;
      background-color: white;
      border-radius: 20px;
      justify-content: space-evenly;
      text-align: center;

    }


  @media screen and (max-width: 900px){
    .navbar{
        padding: 0;
    }
    html{
        padding: 0;
    }
    .navbar .menu-hamburger{
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        
    }
    .navbar .avatar-accueil{
       position: absolute;
       top: 10px;
       
    }
    
    .contenu-texte{
        top: 900px;
        left: 0px;
    }
    .contenu-texte p{
        font-size: 1.2em;
    }
    .liens-nav{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(241, 235, 235, 0.481);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-left: 0;
    }
    .liens-nav ul{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .navbar .liens-nav ul li{
        margin: 30px 0;
        font-size: 1.3em;
    }
    .icones-compétences{
        top: 1600px;
        left: 50px;
        display: grid;
        width: 90%;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        ;
    }
    .icone-photoshop{
        padding-right: 100px;
    }
    .icone-camera{
        padding-right: 100px;
    }
    .icone-javascript{
        padding-right: 100px;
    }
    .icone-html-css{
        padding-right: 135px;
    }
    .projet-portfolio{
        top: 2400px;
        left: 0;
    }
    .grid-photo-portfolio{
            grid-template-columns: 1fr;
            grid-template-rows: 500px 500px 500px 500px;
            padding: 10px;
            gap: 20px;
        }
    
    
    .contenu-cv{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contenu-cv h1{
        position: absolute;
        top: 950px ;
        left: 0;
    }
   .personalité{
    position: absolute;
    top: 1000px;
    left: -698px;
    width: 83%;
    padding-left: 6px;
   }
   .langues{
    position: absolute;
    top: 1500px;
    left: -700px;
    width: 56%;
   }
   .experience-parcours{
    position: absolute;
    top: 2000px;
    width: 70%;
   height: 255px;
    left: -740px;
   }
   .experience-parcours h2{
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 1.2em;
    width: 100%;
   }
   .experience-parcours ul{
    position: absolute;
    top: 80px;
    left: 0px;
    width: 75%;
    text-align: center;
    font-size: 0.9em;
   }
   .experience-professionnelle{
    position: absolute;
    top: 2500px;
    width: 70%;
   height: 200px;
    left: -80px;
   }
   .experience-professionnelle h2{
    position: absolute;
    top: 0px;
    left: 30px;
    font-size: 1.2em;
    width: 100%;
   }
   .experience-professionnelle ul{
    position: absolute;
    top: 80px;
    left: 0px;
    width: 75%;
    text-align: center;
    font-size: 0.9em;
   }
    .loisirs{
        position: absolute;
        top: 3000px;
        width: 70%;
       height:200px;
        left: -450px;
    }
    .loisirs img{
     
        width: 60%
    };
    .loisirs h2{
        position: absolute;
    left: 0px;
    font-size: 1.2em;
    width: 100%;
    }
    .lien-reseaux{
    position: absolute;
    top: 7300px;
    left: 0px;
    width: 100%;
    }
    .icone-mail{
        position: absolute;
        top: 60px;
        left: 120px;
       
    }
    .icone-linkedin{
        position: absolute;
        top: 50px;
        left: 230px;
    }
    footer p{
        position: absolute;
        top: 7600px;
        left: 110px;
        width: 100%;
    }
    footer h3{
        position: absolute;
        top: 7200px;
        left: 120px;
        width: 70%;
    }
}   
